body{
    background-color: #feeac9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body header{
    background-color: #feeac9 !important;
}
.navbar{
    background-color: #7a472a !important;
}

.navbar-brand{
    color: #feeac9 !important;
}
.navbar-nav .nav-link{
    display: inline-block;
    font-size: 1.1rem;
    margin-right: 1.7rem;
    color: #feeac9 !important;
}
.navbar-nav{
    text-align: center;
}
.navbar .nav-link:hover{
    color: white !important;
}
.navbar-toggler{
    border-color:#36281d !important;
    background-color: #feeac9 !important;   /* color de fondo */
    border: 1px solid #36281d !important;   /* grosor y color del borde */
}
.navbar-toggler:hover{
    background-color: #b17240;
}
@media (max-width:768px){
.navbar-brand{
    text-align:center;
}
}
.logo{
    width: 350px;
    height: auto;
}
.lab-card{
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
transition:0.3s;
overflow:hidden;
}

.lab-card:hover{
transform:translateY(-6px);
box-shadow:0 15px 35px rgba(0,0,0,0.25);
}

.lab-card img{
height:140px;
object-fit:cover;
}

.precio{
font-weight:bold;
color:#7a472a;
margin:0;
}
@media (max-width: 768px){
    .logo{
        width: 250px;
    }
}
@media (max-width: 480px){
    .logo{
        width: 150px;
    }
}