.menu{
list-style: none;
display: flex;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(57, 57, 57);
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    display: flex;
}
.barra-superior{
    display: flex;  
}
.telefono{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 950px;
    font-size: 12px;
    color: rgb(57, 57, 57);
    font-weight: bold ;
}
.telefono-icono{
    width: 15px;
    margin-left: 15px;
}
.box-I, .box-S, .box-C{
    text-decoration: none;
    color: rgb(122, 121, 120);
    padding: 5px 20px;
    border-bottom: 2px solid black;
    margin: 10px;
    
}
.box-ACM 
{
    text-decoration: none;
    padding: 5px 20px;
    border-bottom: 2px solid black;
    margin-left: 15px;
    color: white;
    background-color: rgb(92, 172, 132);
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px 0 15px 0;
    
}
.box-HDC{
    text-decoration: none;
    padding: 5px 20px;
    border-bottom: 2px solid black;
    margin-left: 680px;
    color: white;
    background-color: rgb(47, 148, 215);
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px 0 15px 0;
}   
.logo{
    width: 125px;
}
.box-1{
    background-color: rgb(126, 193, 219);
    padding-top: 60px;
    height: 280px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size: 30px;
}
.sub1{
        
    color: white;
    font-family: 'Arial narrow', Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 23px;
}
.sub2{
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    margin:0;
}
.sub3{
    text-align: center;
    font-size:18px;
    margin-bottom: 150px;
    font-weight: lighter;
}