body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: #F2E6D8;
    color: #4A4A4A;
}
.logo{
    position: absolute;
    top: 1.5vh;
    left: 1.5vw;
    width: 15%;
}
h2{
    margin:0;
    text-align: center;
    color: #6B4F3A;
}
input{
    margin: 2px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #8A6A52;
    border-radius: 5px;
    padding: 6px;
}
form div label{
    display: block;
    margin-bottom: 5px;
}
input:focus{
    outline: none;
    border-color: #B08968;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 82vh;
}
form{
    padding: 4%;
    width: 90%;
    max-width: 350px;
    background-color: #EADFCB;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}
.form_input{
    margin-bottom: 12px;
}
.button_input{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 100%;
    background-color: #755943;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 15px;
}
button:hover{
    background-color: #afa79d;
    cursor: pointer;
}
footer{
    margin: 0;
    padding: 7.5px;
    min-height: 18vh;
    background-color: #6B4F3A;
    color: #F2E6D8;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-container div{
    text-align: center;
    flex: 1;
    margin: 4px;
}
footer p{
    font-size: 14px;
    margin: 4.5px;
}
footer h3{
    margin: 10.5px;
    font-size: 20px;
}
a{
    color:inherit;
    text-decoration: none;
    color: #0c0a09;
}
a:hover{
    text-decoration: underline;
    color: #F2E6D8;
}
.social-icon{
    width: 32px;
    height: 32px;
}
.flex-second-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-second-container div{
    justify-content: space-between;
    flex-wrap: wrap;
}